In [88]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [89]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [90]:
# Extract the category column and split it to get only the category titles
categories = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)[0]

In [91]:
# Drop duplicates to get unique categories and reset index
unique_categories = categories.drop_duplicates().reset_index(drop=True)

In [92]:
# Create the category_id column
category_ids = [f'cat{i+1}' for i in range(len(unique_categories))]

In [93]:
# Create the category DataFrame
category_df = pd.DataFrame({
    'category_id': category_ids,
    'category': unique_categories})

In [94]:
# Export the category DataFrame as category.csv
category_df.to_csv('Resources/category.csv', index=False)

In [95]:
# Extract the subcategory column and split it to get only the subcategory titles
subcategories = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)[1]

In [96]:
# Drop duplicates to get unique subcategories and reset index
unique_subcategories = subcategories.drop_duplicates().reset_index(drop=True)

In [97]:
# Create the subcategory_id column
subcategory_ids = [f'subcat{i+1}' for i in range(len(unique_subcategories))]

In [98]:
# Create the subcategory DataFrame
subcategory_df = pd.DataFrame({
    'subcategory_id': subcategory_ids,
    'subcategory': unique_subcategories})

In [99]:
# Export the subcategory DataFrame as subcategory.csv
subcategory_df.to_csv('Resources/subcategory.csv', index=False)

subcategory_df.head()

  subcategory_id  subcategory
0        subcat1  food trucks
1        subcat2         rock
2        subcat3          web
3        subcat4        plays
4        subcat5  documentary

In [100]:
# Extract the category column and split it to get only the category titles
categories = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)[0]

In [101]:
# Drop duplicates to get unique categories and reset index
unique_categories = categories.drop_duplicates().reset_index(drop=True)

In [102]:
# Create the category_id column
category_ids = [f'cat{i+1}' for i in range(len(unique_categories))]

In [103]:
# Create the category DataFrame
category_df = pd.DataFrame({
    'category_id': category_ids,
    'category': unique_categories})

In [104]:
# Extract the subcategory column and split it to get only the subcategory titles
subcategories = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)[1]

In [105]:
# Drop duplicates to get unique subcategories and reset index
unique_subcategories = subcategories.drop_duplicates().reset_index(drop=True)

In [106]:
# Create the subcategory_id column
subcategory_ids = [f'subcat{i+1}' for i in range(len(unique_subcategories))]

In [107]:
# Create the subcategory DataFrame
subcategory_df = pd.DataFrame({
    'subcategory_id': subcategory_ids,
    'subcategory': unique_subcategories})

In [108]:
# Extract necessary columns and rename them
campaign_df = crowdfunding_info_df[[
    'cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
    'outcome', 'backers_count', 'country', 'currency', 'launched_at', 'deadline',
    'category & sub-category']].rename(columns={'blurb': 'description','launched_at': 'launch_date','deadline': 'end_date'})

In [109]:
# Convert 'goal' and 'pledged' columns to float
campaign_df['goal'] = campaign_df['goal'].astype(float)
campaign_df['pledged'] = campaign_df['pledged'].astype(float)

In [110]:
# Convert 'launch_date' and 'end_date' columns to datetime
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'],).dt.strftime('%Y-%m-%d')
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'],).dt.strftime('%Y-%m-%d')

In [111]:
# Extract category and subcategory titles
campaign_df['category'] = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)[0]
campaign_df['subcategory'] = crowdfunding_info_df['category & sub-category'].str.split('/', expand=True)[1]

In [112]:
# Merge with category DataFrame to get category_id
campaign_df = campaign_df.merge(category_df, how='left', left_on='category', right_on='category')

In [113]:
# Merge with subcategory DataFrame to get subcategory_id
campaign_df = campaign_df.merge(subcategory_df, how='left', left_on='subcategory', right_on='subcategory')

In [114]:
# Select and reorder the necessary columns
campaign_df = campaign_df[[
    'cf_id', 'contact_id', 'company_name', 'description', 'goal', 'pledged',
    'outcome', 'backers_count', 'country', 'currency', 'launch_date', 'end_date',
    'category_id', 'subcategory_id']]

In [115]:
# Export the campaign DataFrame as campaign.csv
campaign_df.to_csv('Resources/campaign.csv', index=False)

campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1970-01-01,1970-01-01,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1970-01-01,1970-01-01,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1970-01-01,1970-01-01,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1970-01-01,1970-01-01,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1970-01-01,1970-01-01,cat4,subcat4

In [116]:
# Load the contacts Excel file and read the data
contacts_df = pd.read_excel('Resources/contacts.xlsx', header=None)

In [117]:
# Extract the relevant rows containing the contact information
contact_info_rows = contacts_df.iloc[4:].squeeze()

In [118]:
# Define a regular expression pattern to extract contact_id, name, and email
import re

pattern = re.compile(r'"contact_id": (\d+), "name": "([^"]+)", "email": "([^"]+)"')

In [119]:
# Initialize lists to store the extracted data
contact_ids = []
names = []
emails = []

In [120]:
# Iterate through the rows and extract data using the regular expression
for row in contact_info_rows:
    match = pattern.search(str(row))
    if match:
        contact_ids.append(int(match.group(1)))
        names.append(match.group(2))
        emails.append(match.group(3))

In [121]:
# Create a new DataFrame with the extracted data
added_contacts_df = pd.DataFrame({
    'contact_id': contact_ids,'name': names,'email': emails})

In [122]:
# Split each "name" column value into a first and last name, and place each in a new column

In [123]:
# Display the DataFrame before splitting names
print("Before splitting names:\n", added_contacts_df.head())

Before splitting names:
    contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [124]:
added_contacts_df[['first_name', 'last_name']] = added_contacts_df['name'].str.split(' ', n=1, expand=True)

In [125]:
# Display the DataFrame after splitting names
print("After splitting names:\n", added_contacts_df.head())

After splitting names:
    contact_id               name                         email first_name  \
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr    Cecilia
1        3765      Mariana Ellis       mariana.ellis@rossi.org    Mariana
2        4187        Sofie Woods       sofie.woods@riviere.com      Sofie
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com   Jeanette
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com     Samuel

  last_name
0   Velasco
1     Ellis
2     Woods
3  Iannotti
4   Sorgatz

In [126]:
added_contacts_df = added_contacts_df[['contact_id', 'first_name', 'last_name', 'email']]

In [127]:
# Clean the DataFrame and export it as contacts.csv
added_contacts_df.to_csv('Resources/contacts.csv', index=False)
added_contacts_df.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com